@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Trade+Winds&display=swap');

/* font-weight: how thick/thin characters are
font-style: sets style for text */

body {
  font-family: 'Roboto', sans-serif;
}

.main-heading {
  font-family: 'Trade Winds', system-ui;
}

/* Font weights are dictated by the font-size (or import)
and cannot exceed the maximum weight a font has 
bold - bolder text
lighter - lighter text */

.one {
  font-weight: 400;
}

.two {
  font-weight: lighter;
}
