* {
  margin: 0;
}

.navbar {
  height: 5rem;
  background-color: pink;
}

.logo {
  font-size: 20px;
  color: red;
}

.hero {
  min-height: calc(100vh - 5rem);
  background-color: darkslateblue;
  color: white;
}

.hero span {
  color: white;
  font-size: 30px;
}

.hero-btn {
  background-color: green;
  color: white;
}
